:root {
    --mainThemeColor1: rgb(43, 41, 40); /*Black - background color*/
    --mainThemeColor2: rgb(33, 31, 30); /* Black - Secondary background*/
    --mainSecondaryColor1: rgb(31, 20, 79); /* dark Blue - Header color*/
    --mainSecondaryColor2: rgb(21, 10, 59); /* darker Blue - panel color */
    --textColor1: rgb(249, 249, 249); /* White - color of most text */
    --textColor2: rgb(181, 184, 189); /* Gray - color of chatGPT text*/
}

body {
    background-color: var(--mainThemeColor1);
    color: var(--textColor1);
    font-family: sans-serif;
    margin: 0;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 10fr 3fr;
    grid-template-columns: 2fr 12fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    display: flex;
    background-color: var(--mainSecondaryColor1);
    height: 100%;
    grid-row: 1;
    grid-column: 1 / 3;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.sub_header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    
}

#main_title {
    font-size: 3em;
    
}

.burger_icon {
    min-width: 8vw;
    margin-right: 2vw;
    font-size: 1.5em;
    text-align: center;
    transform: rotate(90deg);
    
}

.people_window {
    display: flex;
    background-color: var(--mainSecondaryColor2);
    grid-row: 2 / 5;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.input_window {
    display: flex;
    background-color: var(--mainThemeColor2);
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.chatWindow {
    display: flex;
    flex-direction: column;
    background-color: var(--mainThemeColor1);
    height: 100%;
    width: 70%;
    font-size: 1.5em;
    justify-content:end;
}

.conversationSpace {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.assistantMessage {
    color: var(--textColor2);
    margin-bottom: 4%;
    text-align: end;
    align-self: flex-start;
}

.userMessage {
    color: var(--textColor1);
    margin-bottom: 4%;
    align-self: flex-end;
    
}

#userText {
    background-color: var(--mainThemeColor1);
    color: var(--textColor1);
    font-size: 0.8em;

}

.sendButton {
    background-color: var(--mainSecondaryColor1);
    color: var(--textColor1);
    margin-left: 3vw;
    font-size: 1em;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.sendButton:hover {
    transition: 0.3s;
    background-color: var(--mainSecondaryColor2);

}

.sendButton:active {
    transition: 0.3s;
    filter: brightness(120%);
}